/* 
  Write here your CSS rules for HackYourRepo!
*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  width: 100%;
  background-color: #3f51b5;
}

h4 {
  margin-left: 10px;
  color: white;
}

select {
  margin-left: 50px;
}

.container {
  margin: auto;
  max-width: 80%;
}

.mainSection {
  display: flex;
}

.main-div {
  flex: 1;
  margin: 5px;
}

.main-div:first-child {
  margin-left: 0;
}

.repoInfo,
.contributor {
  padding: 20px;
  box-shadow: 1px 1px 3px #00000040;
  border-radius: 5px;
}

.info-item {
  padding-bottom: 20px;
}

.contributors ul {
  padding: 0;
  margin: 0;
}

.contributor {
  display: flex;
}

.contributor a {
  margin: auto 0;
  padding-left: 10px;
}

.contributions {
  margin: auto;
  margin-right: 0;
}

.contributor img {
  width: 50px;
}

li {
  list-style: none;
  padding-bottom: 10px;
}

.pagination {
  display: flex;
}

.btn,
.button,
.page {
  padding: 15px;
  margin: 5px;
  background-color: #3f51b5;
  color: white;
  border-radius: 10px;
}
.button:focus,
.btn:focus {
  outline: 0;
}

.button:hover {
  background-color: cadetblue;
}

.active {
  background-color: cadetblue;
}

.err-div {
  background-color: #f8d7da;
  color: grey;
  display: block;
}

.err-div p {
  margin: 0;
  padding: 20px;
}

.changeable {
  display: none;
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 0;
  }
  .mainSection {
    flex-direction: column;
  }
  header {
    justify-content: space-between;
  }
  select {
    width: calc(100% / 4);
  }
  .repoInfo {
    width: 100%;
  }
  .contributors {
    width: 100%;
  }
}

@media (max-width: 480px) {
  select {
    width: calc(100% / 2);
  }
}
